<app-layout>
  <h1 class="text-center text-white">Resume</h1>
  <div class="jumbotron">
    <h3>Nickolas Palmer</h3>
    <div class="animated fadeIn">
      <p>Email: palmer.743@osu.edu</p>
      <p><a href="assets/files/Resume_Nickolas_Palmer.pdf" download>Click here to download resume.</a></p>
    </div>
    <h3>Education</h3>
    <div class="animated fadeIn">
      <p><b>The Ohio State University (Columbus, OH)</b></p>
      <p>Bachelor of Science in Computer Science & Engineering</p>
      <p>August 2016 - May 2020</p>
    </div>

    <h3>Coding Experience</h3>
    <div class="animated fadeIn">
      <p>Java, C#, TypeScript, JavaScript, HTML, CSS, GoLang, SQL</p>
    </div>

    <h3>Frameworks</h3>
    <div class="animated fadeIn">
      <p>Angular, React Native, Protractor, Bootstrap, .NET</p>
    </div>

    <h3>Environments</h3>
    <div class="animated fadeIn">
      <p>Windows, MacOS, Linux, Node.js, Expo CLI, Git, SVN</p>
    </div>

    <h3>Technical Experience</h3>
    <div class="animated fadeIn">
      <p><b>The Dev Shop, Verona, PA – Part-Time Software Engineering Intern</b></p>
      <p>September 2018 – Present</p>
      <ul>
        <li>Manage automated test builds that run against various client projects</li>
        <li>Developer of Angular 8 applications in a primarily front-end role</li>
      </ul>
      <p><b>Honda R&D Americas, Raymond, OH - Information Systems Intern</b></p>
      <p>May 2019 - August 2019</p>
      <ul>
        <li>Lead software developer on student team tasked with building minimum viable product</li>
        <li>Developed front-end of application with React Native, back-end with GoLang</li>
      </ul>
      <p><b>Build in Motion, Aspinwall, PA – Software Engineering Intern</b></p>
      <p>May 2017 – September 2018</p>
      <ul>
        <li>Developed automated tests against company’s e-commerce platform – consolidated 16 hours of manual testing into 15-minute
          script</li>
        <li>Front-end developer on client projects using Angular, TypeScript, HTML, and CSS</li>
      </ul>
      <p><b>Ohio Department of Transportation, Columbus, OH – Traffic Operations Intern</b></p>
      <p>January 2017 – April 2017</p>
      <ul>
        <li>Updated ODOT’s Snow & Ice Traffic Report site used internally</li>
        <li>Used HTML, CSS, and JavaScript/jQuery</li>
      </ul>
    </div>

    <h3>ACTIVITIES</h3>
    <div class="animated fadeIn">
      <p>Ohio State Hackathon (Hack OHI/O) participant</p>
      <p>November 2016, October 2017, October 2018, November 2019</p>
    </div>
  </div>
</app-layout>