.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 25px;
}

img {
    margin-top: 10px;
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin: 20px;
}
