img {
    margin-top: 10px;
    width: 100%;
}

.card {
    margin: 10px;
    height: 60vh;
    overflow: scroll;
}

.row {
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 25px;
}