<app-layout>
  <h1 class="text-center text-white">Projects</h1>
  <div class="row" style="margin-bottom: 100px;">
    <div class="card bg-success col-lg-4">
      <img class="card-img-top" src="assets/img/scoobi.png">
      <div class="card-body">
        <div class="animated fadeIn">
          <h5 class="card-title">Website</h5>
          <p class="card-text">May 2018 - August 2018</p>
          <p class="card-text">Involved creating test cases to find any bugs within the application's various processes
            and reporting my findings back to the  team's developers.
          </p>
          <div class="text-center">
            <a href="https://www.scoobi.co/" class="btn btn-primary">Scoobi's website</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-primary col-lg-4">
      <img class="card-img-top" src="assets/img/clarkdeco.png">
      <div class="card-body">
        <div class="animated fadeIn">
          <h5 class="card-title">stats project</h5>
          <p class="card-text">October 2018 - Present</p>
          <p class="card-text">I do various front-end work for The Dev Shop's clients. I utilize HTML, CSS, and TypeScript on these Angular-based projects.
          </p>
          <div class="text-center">
            <a href="https://www.clarkdeco.com/" class="btn btn-success">Clark Deco's website</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-success col-lg-4">
      <img class="card-img-top" src="assets/img/mario1.png">
      <div class="card-body">
        <div class="animated fadeIn">
          <h5 class="card-title">Super Mario Bros Recreation in C#</h5>
          <p class="card-text">January 2019 - Present</p>
          <p class="card-text">Using C#, Visual Studio, and Monogame my group is recreating the original Super Mario Bros game during the Spring
            2019 semester.
          </p>
          <div class="text-center">
            <a href="http://web.cse.ohio-state.edu/~boggus.2/3902/" class="btn btn-primary">Course Website</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>