* {
    font-family: 'Roboto', sans-serif;
}

.home-logo {
    width: 30vw;
}

.image {
    text-align: center;
    display: block;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  border-bottom: 3px solid black;
  align-items: center;
  align-content: center;
  justify-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: gray
}

/* TODO: partially consolidate this with link box */
.header-item {
    width: 20vw;
    height: 10vh;
    font-size: 1vw;
    background-color: gray;
    color: white;
    border: 1px solid #bd1e2c;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.header-logo {
    max-width: 100%;
    max-height: 100%;
}

.link-box {
    width: 15vw;
    height: 15vw;
    font-size: 3vw;
    border: 2px solid black;
    margin: 10vw;
    background-color:#bd1e2c;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.link-box:hover, .header-link:hover {
    background-color:  #01adee;
}

.main-container,
.about-me-container,
.contact-container,
.projects-container {
    width: 100vw;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.resume-list {
    width: 100vw;
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.resume-container {
    width: 100vw;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.main-container {
    background-image: url("../../../assets/img/background.png");
}

.job-logo {
    max-width: 175px;
    margin: 3vw;
}

.button-container {
    width: 100vw;
    text-align: center;
}

.resume-title {
    width: 100vw; 
    text-align: center;
    color: #2a4158;
}

.resume-button {
    border: 1px solid #01adee;
    background-color: #bd1e2c;
    color: black;
    width: 20vw;
    height: 5vh;
}

.job-logo:hover {
    filter: grayscale(70%);

}

.resume-button:hover {
    border: 1px solid #bd1e2c;
    background-color: #01adee;
}

.about-me-container {
    background-color: #2a4158;
}

.contact-container {
    background-color: #22272c;
}

.resume-container {
    background-color: #8c9ea3;
}

.projects-container {
    background-color: #597387;
}

.middle-sentence {
    color: #bd1e2c;
}

.about-sentence {
    color: gray;
}

.about-content {
    font-size: 3vw;
    text-align: justify;
    padding: 10vw;
}

.row {
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}