<app-layout>
  <div class="container">
  <div class="row">
    <div class="col-lg-7">
      <div class="jumbotron row-height text-center courier-new">
        <div class="animated fadeIn">
        <h1>Nick Palmer</h1>
        <h2>Computer Science & Engineering Student at Ohio State</h2>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
        <img class="row-height text-center float-right" src="assets/img/osu.png"/>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
      <div class="jumbotron text-center courier-new" style="font-size: 1.5em;">
        <p class="animated fadeIn">Hi there! Welcome to my site. I am currently a junior at Ohio State with a major in Computer Science & Engineering.
          For more information about me, please click <a href="/about">here</a>.
        </p>
      </div>
      </div>
  </div>
  </div>
</app-layout>
<router-outlet></router-outlet>