<app-layout>
  <div class="animated fadeup experience-container">
    <div class="row experience-list">
      <h1 class="experience-title">
        Places I've Worked
      </h1>
      <a href="https://transportation.ohio.gov/">
      <img class="job-logo" src="../../../assets/img/odot.png"/>
      </a>
      <a href="https://buildinmotion.com/">
      <img class="job-logo" src="../../../assets/img/build-in-motion.png"/>
      </a>
      <a href="https://www.hondaresearch.com/">
      <img class="job-logo" src="../../../assets/img/honda.png"/>
      </a>
      <a href="https://www.thedevshop.com/">
      <img class="job-logo" src="../../../assets/img/the-dev-shop.png"/>
      </a>
     
    </div>
    <div class="row experience-list button">
      <div class="text-center">
        <a href="assets/files/Resume_Nickolas_Palmer.pdf" download class="btn btn-dark text-white">Download Resume</a>
      </div>
    </div>
  </div>
    <!--Put in download experience button-->
</app-layout>