.experience-list {
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 25px;
}

.experience-title {
    width: 100vw; 
    text-align: center;
    color: #2a4158;
}

.experience-button {
    border: 1px solid #01adee;
    background-color: #bd1e2c;
    color: black;
    width: 20vw;
    min-width: 250px;
    height: 5vh;
    min-height: 100px;
}

.experience-container {
    background-color: #8c9ea3;
    padding: 5vw;

}

.experience-button:hover {
    border: 1px solid #bd1e2c;
    background-color: #01adee;
}

.job-logo {
    max-width: 175px;
    margin: 25px;
}

.job-logo:hover {
    filter: grayscale(70%);

}

.button {
    margin-top: -50px;
}