<app-layout>
    <!-- TODO: put where I've worked
    And download experience button below it -->
    <!-- <div style="width: 100vw">Places I've worked (this needs to be in its own row)</div> -->
    <div class="row experience-list">
      <h1 class="experience-title">
        Places I've Worked
      </h1>
      <a href="https://transportation.ohio.gov/">
      <img class="job-logo" src="../../../assets/img/odot.png"/>
      </a>
      <a href="https://buildinmotion.com/">
      <img class="job-logo" src="../../../assets/img/build-in-motion.png"/>
      </a>
      <a href="https://www.hondaresearch.com/">
      <img class="job-logo" src="../../../assets/img/honda.png"/>
      </a>
      <a href="https://www.thedevshop.com/">
      <img class="job-logo" src="../../../assets/img/the-dev-shop.png"/>
      </a>
     
    </div>
    <div class="button-container row experience-list">
      <button class="experience-button">Download Resume</button>
    </div>
    <!--Put in download experience button-->
</app-layout>