.experience-list {
    width: 100vw;
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.experience-container {
    width: 100vw;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.experience-title {
    width: 100vw; 
    text-align: center;
    color: #2a4158;
}

.experience-button {
    border: 1px solid #01adee;
    background-color: #bd1e2c;
    color: black;
    width: 20vw;
    height: 5vh;
}

.experience-container {
    background-color: #8c9ea3;
}

.experience-button:hover {
    border: 1px solid #bd1e2c;
    background-color: #01adee;
}

.job-logo {
    max-width: 175px;
    margin: 3vw;
}

.job-logo:hover {
    filter: grayscale(70%);

}