<app-layout>
    <div class="animated fadeup about-me-container">
      <div class="about-content">
        <span class="about-sentence">Hi! My name is Nick, and I am a software engineer based in Chicago, IL.<br></span>
        <span class="middle-sentence">I recently joined <a target="_blank" href="https://www.capitalone.com/">Capital One</a> as a Senior Associate Software Engineer.</span>
        <br><span class="about-sentence">If you'd like to get in touch with me, please fill out the form on the <a routerLink="/contact">contact page</a>.</span>
  </div>
  </div>
</app-layout>