<app-layout>
  <h1 class="text-center text-white">About Me</h1>
  <div class="jumbotron">
    <div class="animated fadeIn">
      <p>Hi! My name is Nick Palmer. I am a fourth-year Computer Science & Engineering student at Ohio State and will be graduating
        in May of 2020. After graduation, I plan to relocate to the Chicagoland area.
      </p>
      <p>My interest in software development began my sophomore year of high school when I took an introduction to Java course.
        Since then, I have tried to learn about as many areas of computer science and software development as I can. Feel
        free to take a look at my <a routerLink="/resume">resume page</a> to see some of my previous academic and internship experiences.
      </p>

      <p>
        While most of my experiences are related to web development, I am very open to any other areas of software development. Please
        feel free to reach out if you know of any potential openings or would like to discuss my qualifications further.
      </p>

    </div>
  </div>
</app-layout>