.centered { 
    text-align: center;
    font-family: "Courier New";
}

.about-content {
    font-size: 2em;
    text-align: start;
    padding: 10vw;
}

.about-me-container {
    background-color: #2a4158;
}

.about-sentence {
    color: gray;
}

.middle-sentence {
    color: #bd1e2c;
}