.centered { 
    text-align: center;
    font-family: "Courier New";
}

.about-content {
    font-size: 3vw;
    text-align: justify;
    padding: 10vw;
}

.about-me-container {
    background-color: #2a4158;
    width: 100vw;
    height: 80vh;
}

.about-sentence {
    color: gray;
}

.middle-sentence {
    color: #bd1e2c;
}